<h1>Ask the Coach...</h1>
<form action="/answer" method="get" data-turbo="false">
  <label for="question">Ask Something!</label>
  <input id="question" type="text" name="question" placeholder="Your question...">
  <input type="submit" value="Ask!">
</form>
